/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
.table-cell {
    -fx-padding: 0.1em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-font: 15px "Calibri";
    -fx-text-fill: #212121;
}


.table-view {
    -fx-table-header-border-color: #bce5fc;
    -fx-table-cell-border-color: -fx-box-border;
}

.table-view:focused {
    -fx-background-color: -fx-box-border, -fx-box-border, white;
}
.table-view .column-header{
    -fx-font: 14px "Calibri";
     -fx-background-color: #3DA4E3;
    /* -fx-background-color: #163754; */
}
.table-view .column-header .label {
   -fx-text-fill: white;
}
.table-row-cell {
   -fx-background-color: transparent;
}

.table-row-cell:odd {
   -fx-background-color: #f0f0f0;
   -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even {
  /*-fx-background-color: #dbf8fe;*/
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
}



